<section>
  <div class="project-grid">
    {% for project in projectlist | reverse %}
      <div class="project-card" {% if project.url == url %} data-current="current item"{% endif %}>
        <h4>
          <a class="project-card__title" href="{{ project.url | url }}">
            {% if project.data.title %}
              {{ project.data.title }}
            {% else %}
              Untitled
            {% endif %}
          </a>
        </h4>
        {% if project.data.summary %}
          <p>
            {{ project.data.summary }}
          </p>
        {% endif %}
        {% if project.data.image.src %}
          <img src="{{ project.data.image.src | url }}" alt="{{ project.data.image.alt }}" class="project-card__image object-cover lg:h-60 h-96 w-full border-solid border-2 rounded-sm p-4">
        {% endif %}
        {% if project.data.tags %}
          <p class="tag-list">
            {% for tag in project.data.tags %}
              {%- if tag != "project" -%}
                {% set tagUrl %}/project-tags/{{ tag }}/{% endset %}
              <a class="project-card__tag tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
              {%- endif -%}
            {% endfor %}
          </p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>
