---
layout: layouts/base.njk
section: project
---
<div class="page-container">
  <h1 class="text-5xl">
    {% if emoji %}
      <span class="project-card__emoji">{{ emoji }}</span>
    {% endif %}
    {{title}}</h1>
  <hr>
  {% if tags %}
    <p class="my-3">
      {% for tag in tags %}
        {%- if tag != "project" -%}
          {% set tagUrl %}/project-tags/{{ tag }}/{% endset %}
        <a class="tag hover:bg-gray-300" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
    </p>
  {% endif %}
  <div id="view-buttons" class="space-x-2">
    {% if github %}
      <a href="{{ github }}" class="bg-blue-500 hover:bg-blue-700 text-white hover:text-white font-bold py-2 px-4 my-3 rounded text-xl" target="_blank">
        View on GitHub
      </a>
    {% endif %}
    {% if website %}
      <a href="{{ website }}" class="bg-blue-500 hover:bg-blue-700 text-white hover:text-white font-bold py-2 px-4 my-3 rounded text-xl" target="_blank">
        View live
      </a>
    {% endif %}
  </div>
  {% if image.src %}
    <img src="{{ image.src | url }}" alt="{{ image.alt }}" class="project-card__image object-cover w-full border-solid border-2 rounded-sm p-4">
  {% endif %}
  <div>
    {{ layoutContent | safe }}
  </div>
  <nav>
    <a href="{{ '/projects/' | url }}">← View All Projects</a>
  </nav>
</div>